body {
  margin: 0;
  background: #020617;
  color: white;
  text-align: center;
  font-family: system-ui;
}

h1 {
  margin: 10px;
}

textarea {
  width: 95%;
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 18px;
  margin: 5px;
  border-radius: 12px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 16px;
}

#cubeCanvas {
  width: 100vw;
  height: 60vh;
  display: block;
}
